[Unit]
Description=Containers run by Ansible Container.
After=docker.service
Requires=docker.service

[Service]
PIDFile=/var/run/ansible-container.pid
WorkingDirectory=/usr/local/lib/docker/
ExecStart=/bin/ansible-container run
ExecStop=/bin/ansible-container stop
Environment=PWD=/usr/local/lib/docker/
TimeoutStartSec=infinity
TimeoutStopSec=30
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target