[www]
listen = 9000
user = www-data
group = www-data
pm = dynamic
pm.max_children = 10
pm.start_servers = 4
pm.min_spare_servers = 2
pm.max_spare_servers = 6
pm.max_requests = 500
pm.status_path = /php-status-galano
ping.path = /php-ping-galano
request_terminate_timeout = 60s
request_slowlog_timeout = 5s
slowlog = /var/log/$pool.log.slow
catch_workers_output = yes
